{% extends "app/layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ title }}</h2>
    </div>
<div class="card-body">
    <div class="col-md-8">
        <a href="{% url 'main-login' %}">Log in again</a>
    </div>
</div>
</div>

{% endblock %}


{% block scripts %}

{% load static %}
{% endblock %}
