{% extends "app/layout.html" %}
{% load user_tags %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h2 style="display:inline">This is exam template which is supported on this site</h2>
            </div>
            <div class="card-text">
                <a class="btn btn-info" href="{% url 'main-test-template-download' %}">Download template pdf</a>
            </div>
        </div>


        <div class="card-body">
            <img src="{% url 'main-static' 'template.png' %}" class="img-fluid" style="border:2px solid black"/>
        </div>
    </div>
{% endblock %}
