{% extends "app/layout.html" %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card">
        <div class="card-header">
            <h2>Submit tests</h2>
        </div>
        <div class="card-body">
            <div class="col-md-8">
                <section id="registerForm">
                    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-primary"/>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>

{% endblock %}


{% block scripts %}

    {% load static %}

{% endblock %}
